[submodule "Hexalith.EventStore"]
	path = references/Hexalith.EventStore
	url = https://github.com/Hexalith/Hexalith.EventStore.git
	branch = main
[submodule "Hexalith.Tenants"]
	path = references/Hexalith.Tenants
	url = https://github.com/Hexalith/Hexalith.Tenants.git
	branch = main
[submodule "Hexalith.Commons"]
	path = references/Hexalith.Commons
	url = https://github.com/Hexalith/Hexalith.Commons.git
	branch = main
[submodule "Hexalith.Builds"]
	path = references/Hexalith.Builds
	url = https://github.com/Hexalith/Hexalith.Builds.git
	branch = main
[submodule "Hexalith.PolymorphicSerializations"]
	path = references/Hexalith.PolymorphicSerializations
	url = https://github.com/Hexalith/Hexalith.PolymorphicSerializations
	branch = main
[submodule "Hexalith.AI.Tools"]
	path = references/Hexalith.AI.Tools
	url = https://github.com/Hexalith/Hexalith.AI.Tools.git
	branch = main
[submodule "Hexalith.Memories"]
	path = references/Hexalith.Memories
	url = https://github.com/Hexalith/Hexalith.Memories.git
	branch = main
[submodule "Hexalith.Parties"]
	path = references/Hexalith.Parties
	url = https://github.com/Hexalith/Hexalith.Parties.git
	branch = main
