@namespace Counter.Specimens
@using Counter.Domain

<table class="fc-specimen-generated-template">
    <tbody>
        @foreach (CounterProjection row in Context.Items) {
            <tr>
                <td>@Context.RowRenderer(row)</td>
            </tr>
        }
    </tbody>
</table>

@Context.SectionRenderer("Detail")
