@namespace Counter.Specimens
@using Counter.Specimens.Domain

<div class="fc-specimen-generated-template">
    @foreach (SpecimenFormattingProjection row in Context.Items) {
        @Context.RowRenderer(row)
    }
</div>
